<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hyuga.leftcontroller</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/hyuga/node/bin/node</string>
    <string>/Users/hyuga/iphone-mac-left-controller/server.js</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/hyuga/iphone-mac-left-controller</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>TLS_MODE</key>
    <string>off</string>
    <key>APP_PIN</key>
    <string>0510</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/hyuga/iphone-mac-left-controller/logs/server.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/hyuga/iphone-mac-left-controller/logs/server.log</string>
</dict>
</plist>
